.container-fluid {
    margin: 0 auto;
}

header {
    background: linear-gradient(to right, coral, rgb(255, 193, 170));
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}

header h1 {
    color: white;
    font-size: 36px;
    text-shadow: 1px 1px #333;
}

aside {
    display: flex;
    flex-direction: column;
    width: 25%;
    height: 100%;
    padding: 20px;
    box-sizing: border-box;
    background-color: lightgray;
}

.list-group-item {
    width: 100%;
    text-align: center;
    cursor: pointer;
    margin-bottom: 10px;
    background-color: white;
    border: 1px solid gray;
    border-radius: 5px;
    padding: 10px;
    box-sizing: border-box;
}


.weather-header {
    margin-bottom: 40px;
}

#form-heading {
    margin-top: 40px;
}

.form-input {
    width: 100%;
    height: 50px;
    font-size: 18px;
    padding: 10px 20px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.form-button {
    width: 100%;
    height: 50px;
    font-size: 18px;
    background-color: #007bff;
    color: #fff;
    border: 2px black;
    border-radius: 5px;
    cursor: pointer;
}

.card {
    background-color: lightcoral;
    width: 200px;
}



.current-weather-container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;
}

.current-date {
    font-size: 18px;
    font-weight: bold;
    margin-right: 20px;
}

.current-weather-icon {
    width: 50px;
}

.current-temperature {
    font-size: 18px;
    font-weight: bold;
}

.current-humidity {
    font-size: 18px;
    font-weight: bold;
}



.forecast-date {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
}



.forecast-icon {
    width: 50px;
}

.forecast-temperature {
    font-size: 18px;
    font-weight: bold;
}

.forecast-humidity {
    font-size: 18px;
    font-weight: bold;
}

.search-history {
    margin-top: 40px;
}

.list-group-item {
    cursor: pointer;
}

#search-button {
    border: solid 1px black;
    width: 100%;
    text-align: center;
    margin-top: 10px;
}